body{
    background-color: #3E606F;
    color: silver;
}
.qoutes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 80px;
    font-family: Impact;
}
h5{
    font-size: 30px;
    margin: 0;
    font-family: cursive;
}
.qoutes-texts{
    height: 80px;
    font-family: monospace;
}
button{
    color: #000;
    margin-top: 50px;
    border: 0;
    cursor: pointer;
    padding: 9px 14px;

    background-color: #D1DBBD;
    border-radius: 3px;
}
button:focus{
    outline: 0;
}
.qoutes-box{
    width: 50%;
    height: 200px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 30px;
    padding: 20px;

    font-size: 25px;
    background-color: #91AA9D;
    color: #193441;
}
.new-Qoute{
    display: flex;
    justify-content: flex-end;
}